<div class="container">
    <div class="row">
        <h1 style="text-align: center; padding-top: 12px;">Lista de productos</h1>
        <button class="btn btn-success m-1" onclick="agregarProducto()">Agregar Producto</button>
    </div>
    <div id="listaProductos" class="row" style="justify-content: center;" >
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-center" id="botones">
            
    </div>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>